notebook
ipykernel
numpy
scipy
traitlets
ipywidgets
matplotlib
pandas
xarray
dask[complete]
numba
hvplot
datashader
sphinx>=1.4
nbsphinx
sphinx-autobuild
numpy-stl
sphinx-rtd-theme
hypothesis
versioneer
tqdm
pooch
