# See pyproject.toml

# Reference: https://github.com/dependabot/dependabot-core/issues/6593

# This file is included to help dependabot determine we are using pip-tools to create requirements files.
# In reality, the dependencies for this project are in pyproject.toml
