name: Check links in Markdown files
on:
  schedule:
    - cron: "0 0 * * 1" # midnight every Monday
  push:
    branches: [main]
    paths:
      - "**/*.md"
  pull_request:
    paths:
      - "**/*.md"

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          folder-path: "docs/"
          file-path: "README.md"
