name: CI

on:
  push:
    tags:
      - "v*.*.*"
    branches:
      - "main"
      - "release/**"
  pull_request:
    paths:
      - .github/workflows/ci.yaml
      - .pre-commit-config.yaml
      - pyproject.toml
      - tests/**
      - src/**
  schedule:
    - cron: "0 0 * * 1" # midnight every Monday

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

permissions: {}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        uses: pypa/hatch@257e27e51a6a5616ed08a39a408a21c35c9931bc

      - name: Run tests
        run: |
          hatch run +py=${{ matrix.python-version }} test:extended --cov-report=xml:coverage.${{ matrix.os }}.${{ matrix.python-version }}.xml

      - name: Upload coverage data
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: coverage-${{ matrix.os }}-${{ matrix.python-version }}
          path: coverage.*.xml

  sonarcloud:
    needs: test
    runs-on: ubuntu-latest
    if: github.repository == 'fschuch/xcompact3d_toolbox' # prevent running on forks
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Download coverage data
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: coverage-*
          merge-multiple: true

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=fschuch
            -Dsonar.projectKey=fschuch_xcompact3d_toolbox
            -Dsonar.python.version=3.9,3.10,3.11,3.12,3.13
            -Dsonar.sources=src/xcompact3d_toolbox
            -Dsonar.tests=tests
            -Dsonar.python.coverage.reportPaths=coverage.*.xml

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"
      - name: Install Hatch
        uses: pypa/hatch@257e27e51a6a5616ed08a39a408a21c35c9931bc
      - name: Build package
        run: hatch build
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: dist/*.tar.gz
          name: built-sdist
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: dist/*.whl
          name: built-bdist

  release:
    needs:
      - build
      - sonarcloud
    # upload to PyPI on every tag and ensure it does not run on forks
    if: github.event_name == 'push' && github.ref_type == 'tag' && !github.event.pull_request.head.repo.fork
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/xcompact3d-toolbox
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: built-sdist
          path: dist
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: built-bdist
          path: dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
