name: Docs

on:
  push:
    tags:
      - "v*.*.*"
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/docs.yaml
      - docs/**
      - xcompact3d_toolbox/**
      - pyproject.toml

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SPHINX_GITHUB_CHANGELOG_TOKEN: ${{ secrets.SPHINX_GITHUB_CHANGELOG_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install Hatch
        run: python -m pip install hatch

      - name: Build the book
        run: hatch run docs:build

      - uses: actions/upload-artifact@v4
        with:
          path: build/
          name: documentation

  deploy:
    needs: build
    if: github.event_name == 'push' && github.ref_type == 'tag' && github.repository == 'fschuch/xcompact3d_toolbox'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: build/
          name: documentation

      # Push the book's HTML to github-pages
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/_build/html
